@import "@/app/styles/variables.scss";

.hospitals_list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  margin-top: 30px;
  padding: 10px 5px 20px 5px;
  border-radius: 10px;
  margin-bottom: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 10px 6px 10px 6px;
    gap: 11px;
    border-radius: 10px;
  }
}
