$avatarHospitalSizeLarge: 155px;
$avatarHospitalSizeSmall: 70px;

.avatar_hospital {
  position: relative;

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.size__large {
    max-width: $avatarHospitalSizeLarge;
    height: $avatarHospitalSizeLarge;
    width: 100%;
  }

  &.size__small {
    max-width: $avatarHospitalSizeSmall;
    height: $avatarHospitalSizeSmall;
    width: 100%;
  }

}
