.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../../../app/imgs/background.png") repeat-y;
  background-size: cover;

  
  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
  }
}
