$avatarHospitalSizeLarge: 155px;
$avatarHospitalSizeSmall: 70px;

.avatar_hospital {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.size__large {
    min-width: $avatarHospitalSizeLarge;
    height: $avatarHospitalSizeLarge;
  }

  &.size__small {
    min-width: $avatarHospitalSizeSmall;
    height: $avatarHospitalSizeSmall;
  }

  &.variant__filled {
    background-image: url("../../assets/img/default-hospital.png");
  }

  &.variant__outlined {
    border: 1px solid black;
    background-color: white;
  }
}
