.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;

  h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.76);
    font-family: Inter;
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 30px;
  }

  &_card {
    margin: 0 auto;
    max-width: 467px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
    overflow: hidden;

    .login_form {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 36px;
      padding-bottom: 35px;

      .login_field {
        margin-top: 25px;

        &::-webkit-input-placeholder {
          color: #adadad;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 800;
        }

        input::-webkit-input-placeholder {
          color: #adadad;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 800;
        }
      }

      .sign_up_link {
        color: #0300a7;
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        align-self: flex-end;
        margin-top: 28px;
      }

      &_submit {
        width: 230px;
        border-radius: 10px;
        background: #1f4c2e;

        color: #fff;
        font-family: Inter;
        font-size: 20px;
        font-weight: 800;
        margin-top: 45px;
      }
    }
  }
}
