$ratingItemSizeLarge: 30px;
$ratingItemSizeSmall: 25px;


.rating {
  display: flex;
  height: min-content;
  cursor: pointer;

  &__item {
    display: flex;
    overflow: hidden;
    object-fit: cover;
    mask-image: url(../assets/star.svg);
    -webkit-mask-image: url(../assets/star.svg);

    mask-size: cover;
    -webkit-mask-size: cover;
    background-color: rgba(121, 121, 121, 0.151);

    .rating__content {
      height: 100%;
      background-color: gold;
    }
  }

  .size__small {
    width: $ratingItemSizeSmall;
    height: $ratingItemSizeSmall;
  }

  .size__large {
    width: $ratingItemSizeLarge;
    height: $ratingItemSizeLarge;
  }
}
